body{
	margin: 0px;
	padding:0px;
}
.header{
	background-color: black;
	min-height: 100px;
	overflow: hidden;
}
.logo{
	/*border: 5px solid black;*/
	width: 8%;
	float: left;
	margin: 20px;
}
.logo img{
	border-radius: 60px;
	width: 100%;
}
.menu{
	/*border:5px solid black;*/
	width: 29%;
	float: right;
	margin: 46px 20px;
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	background-color: gray;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0px 9px;
	color: white;
	transition: .5s;
	display: block;
}
.menu ul li:last-child a{
	margin-right: 0px;
}
.menu ul li a:hover{
	color: blue;
}
.headline{
	/*border: 5px solid black;*/
	background-image: url(../images/pic_2.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 30px;
}
.headline h1 {
    color: #FFFFFF;
    padding: 56px 571px;
    margin-top: 0px;
}
.container{
	/*border: 5px solid black;*/
	margin: 30px 85px;
}
.container h1{
	text-align: center;
}
.container p{
	text-align: justify;
}
.banner_2{
	/*border: 5px solid black;*/
	margin: 30px 0px;
	overflow: hidden;
}
.pic_1{
	/*border: 5px solid blue;*/
	width: 50%;
	float: right;
}
.pic_1 img{
	width: 100%;
}
.wrapper_1{
	/*border: 5px solid red;*/
	margin: 0px 85px;
}
.wrapper_1 p{
	text-align: justify;
}
.wrapper_2{
	/*border: 5px solid green;*/
	overflow: hidden;
	margin-bottom: 20px;
}
.wrapper_2 div{
	/*border: 5px solid blue;*/
	float: left;
	width: 30%;
	margin: 0px 29px;
}
.wrapper_2 div:first-child{
	margin-left: 0px;
}
.wrapper_2 div:last-child{
	margin-right: 0px;
}
.wrapper_2 div img{
	width: 100%;
}
.wrapper_3{
	/*border: 5px solid red;*/
	margin-top: 20px;
}
.wrapper_3 h1{
	text-align: center;
}
.wrapper_3 p{
	text-align: justify;
}
.footer{
	/*border: 5px solid black;*/
	margin: 30px 85px 0px;
}
.footer img{
	width: 100%;
}
