body{
	margin: 0px;
	padding:0px;
}
.header{
	background-color: black;
	min-height: 100px;
	overflow: hidden;
}
.logo{
	/*border: 5px solid black;*/
	width: 8%;
	float: left;
	margin: 20px;
}
.logo img{
	border-radius: 60px;
	width: 100%;
}
.menu{
	/*border:5px solid black;*/
	width: 29%;
	float: right;
	margin: 46px 20px;
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	background-color: gray;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0px 9px;
	color: white;
	display: block;
}
.menu ul li:last-child a{
	margin-right: 0px;
}
.menu ul li a:hover{
	color: blue;
	overflow: hidden;
}
.headline{
	/*border: 5px solid black;*/
	overflow: hidden;
	margin-bottom: 30px;
}
.background{
	width: 100%;
	margin-bottom: -207px;
}
.background img{
	width: 100%;
}
.title{
	/*border: 5px solid black;*/
}
.title h1{
	color: #FFFFFF;
	margin: 83px 571px;
}
.banner_1{
	/*border: 5px solid black;*/
	margin: 30px 85px;
}
.banner_1 h1{
	text-align: center;
}
.banner_1 p{
	text-align: justify;
}
.banner_2{
	/*border: 5px solid black;*/
	margin: 30px 0px;
	overflow: hidden;
}
.wrapper_1{
	/*border: 5px solid red;*/
	margin: 0px 85px;
}
.wrapper_1 p{
	text-align: justify;
}
.pic_1{
	/*border: 5px solid blue;*/
	width: 50%;
	float: right;
}
.pic_1 img{
	width: 100%;
}
.service{
	/*border: 5px solid black;*/
	margin: 30px 85px;
}
.wrapper_2{
	/*border: 5px solid green;*/
	overflow: hidden;
	margin-bottom: 20px;
}
.pic_2{
	/*border: 5px solid red;*/
	width: 30%;
	margin-right: 29px;
}
.pic_2 img{
	width: 100%;
}
.pic_3{
	/*border: 5px solid blue;*/
	width: 30%;
	margin: 0px 29px;
}
.pic_3 img{
	width: 100%;
}
.pic_4{
	/*border: 5px solid brown;*/
	width: 30%;
	margin-left: 29px;
}
.pic_4 img{
	width: 100%;
}
.wrapper_2 div{
	float: left;
}
.wrapper_3{
	/*border: 5px solid red;*/
	margin-top: 20px;
}
.wrapper_3 h1{
	text-align: center;
}
.wrapper_3 p{
	text-align: justify;
}
.footer{
	/*border: 5px solid black;*/
	margin: 30px 85px 0px;
}
.footer img{
	width: 100%;
}
